body{
  color: red;
  font-family: Poppins, san serif;
  font-size: 18 px;
  background-image: url("jinkx.jpg");
  background-repeat: no-repeat;
}


h1{ 
  color: red;
  font-family: "Abril Fatface", 
  font-size: 40 px ;
}
