body{
  color: black;
  font-family: Poppins, san serif;
  font-size: 20 px;
  background-image: url("jinkx.jpg")
  background-repeat: no-repeat;
  margin: 0;
}

h2{
 color: black;
 font-family: Poppins, san serif; 
 font-size: 20 px;
}

h1{ 
  color: green;
  font-family: "Abril Fatface", 
  font-size: 40 px ;
}

header{
  padding: 30 px;
  text-align: center;
  font-size: 35 px;
  color: white;
}

footer{
background-color: green;
color: white;
font-family: Poppins, sans serif;
font-size: 16 px
padding: 10 px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14 px 16 px;
  text-decoration: none;
  font-size: 17 px;
}
